# Env
.env
local/.env

# Debug output
debug/
local/debug_latex/
local/debug_md/
cloudflared.log
tunnel_*.log

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
dist/
.venv/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS
Thumbs.db
.DS_Store
